<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
    <% @chirps.each do |chirp| %>
        <%= link_to chirp.user.name user_path(chirp.user) %>
        <%= chirp.chirp_text %>
    <% end %>
<% end %>
